/********
RESET CSS
********/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******
COMMON
******/
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
	color: #111111;
	font-family: 'Sen', sans-serif;
}
* {
    box-sizing: border-box;
}
.main-container {
    width: 90%;
    margin: 0 auto; 

}
.about p {
	margin: 1em 0;
	font-size: 2em;
}

/******
HEADER
******/
.type {
	font-family: 'Righteous', cursive;
	font-size: 1.8em;
}

/*********
ANIMATION
*********/
.blink{
    animation:blinker 1.2s infinite;
}
@keyframes blinker{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}

/**************
RESPONSIVENESS
**************/
@media only screen and (max-width:460px) {
	header .logo .type, header nav{
		text-align: center;
	}
}